
.city-menu{
  position: relative;
  margin:100px 0px 40px 0px;
  font-size: 36px;
  font-weight: 100;
}

.city-menu span{
  color:#0064aa;
  width: 7%;
  cursor: pointer;
}

.cities{
  position: absolute;
  width: 55%;
  background: #fff;
  padding:50px;
  opacity: 0;
z-index: -1;
}

.cities ul{
float: left;

}

.cities li{
  padding:0px 80px 20px 0px;
  font-size: 24px;
  color: #0064aa;

}

/*.cities::before, .cities::after {
    content: '';
    position: absolute;
    left: 200px;
    border: 10px solid transparent;
    border-bottom: 23px solid black;
    bottom: 568px;
   }

.cities::after {
  position: absolute;
    border-bottom: 20px solid white;
    bottom: 568px;
}*/

.cities.show{
  opacity: 1;
  z-index: 10000000;
  border: 1px solid black;
}
